@page "/"
@rendermode InteractiveServer
@inherits HomePageBase
@using SoSuSaFsd.Components.Pages.HomeComponents
@using SoSuSaFsd.Components.Pages.HomeComponents.Sections
@using SoSuSaFsd.Components.Common

<PageTitle>SoSuSa - Home</PageTitle>

@* HEADER & SEARCH *@
<HomeHeaderSection 
    State="@State"
    OnSearch="@HandleHeaderSearch"
    OnRefresh="@RefreshPage"
    OnLogout="@ForceLogout"
    OnNavigateToAdmin="@NavigateToAdmin"
    OnShowLogin="@ShowLoginOverlay"
    OnPostClick="@OnSearchPostClicked"
    OnUserClick="@OnSearchUserClicked" />

@* MAIN LAYOUT *@
<div class="main-layout">
    @* LEFT SIDEBAR *@
    <HomeLeftSidebar 
        CurrentUser="@State.CurrentUser"
        FollowedCategories="@State.FollowedCategories"
        UserPostsCount="@State.UserPosts.Count"
        CategorySearchTerm="@State.SearchTerm"
        OnCategorySearchTermChanged="@((value) => State.SearchTerm = value)"
        OnCategorySearch="@HandleCategorySearch"
        OnCategoryClick="@NavigateToCategory" />

    @* FEEDS *@
    <HomeFeedsSection 
        State="@State"
        PasswordModel="@PasswordModel"
        OnLike="@ToggleLike"
        OnComment="@ToggleComments"
        OnReport="@OpenReportModal"
        OnUpdateDraft="@UpdateCommentDraft"
        OnSubmitComment="@SubmitComment"
        OnCarouselChange="@UpdateCarouselIndex"
        OnToggleReply="@ToggleReplyBox"
        OnUpdateReplyDraft="@UpdateReplyDraft"
        OnSubmitReply="@SubmitReply"
        OnUnfollow="@UnfollowCategory"
        OnProfileUpdate="@UpdateProfile"
        OnImageChange="@HandleProfileImageSelected"
        OnPasswordChange="@HandlePasswordChange"
        OnAccessRequest="@HandleAccessRequest"
        OnFileSelected="@HandleVerificationDocumentSelected" />

    @* RIGHT SIDEBAR *@
    <SharedRightSidebar 
        VerifiedCategories="@State.VerifiedCategories"
        RecentCategories="@State.RecentCategories"
        OnCategoryClick="@NavigateToCategory"
        EmptyAuthorizedMessage="No categories created yet."
        EmptyUnauthorizedMessage="Login to see your categories." />
</div>

@* MODALS *@
<HomeModalsSection 
    State="@State"
    OnSubmitReport="@SubmitReport"
    OnNavigateToCreate="@NavigateToCreate" />

@* SCRIPTS *@
<script src="js/home.js"></script>